<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <title>黑灰产网络资产图谱可视分析</title>

    
    <link rel="stylesheet" type="text/css" href="[[ url_for( 'static', filename='css/react_template.css')]]" />
    <link rel="stylesheet" href="[[ url_for( 'static', filename='css/lib/normalize.min.css')]]">
    <link rel='stylesheet' href="[[ url_for( 'static', filename='css/lib/tailwind.min.css')]]">
    <!-- <link rel="stylesheet" type="text/css" href="[[ url_for( 'static', filename='css/style.scss')]]" /> -->
    

    <!-- Figures -->
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/jquery.min.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/echarts.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/echarts-wordcloud.min.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/d3.v7.min.js') ]]"></script>
    <script type="text/javascript"src="[[ url_for('static', filename = 'js/lib/vis-network.min.js') ]]"></script>
    

    <!-- React -->
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/react.production.min.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/react-dom.production.min.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/prop-types.min.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/index.umd.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/Recharts.min.js') ]]"></script>
    <script type="text/javascript" src="[[ url_for('static', filename = 'js/lib/three.min.js') ]]"></script> 
    <!-- Code -->
    <script type="module" src="[[ url_for('static', filename = 'js/main.js') ]]"></script>
    <script type="module" src="[[ url_for('static', filename = 'js/utils/auto_ani.js') ]]"></script>

</head>
<body>
    <div id="root"></div>
</body>
